html {
  margin: 0;
  padding: 0;
}

body {
  width: 300px;
  min-height: 500px;
  padding: 6px 20px 8px;
}

h1 {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: normal;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  font-size: 14px;
  list-style: 1.5;
}
